// Variables

// place any config options you want to override here

$blue-grey: #8b95a1;
$dark-blue: #27343d;
$pink: #ef0c71;
$teal: #4ecdc4;
$light-teal: #b6e8e8;

$link-color: $pink;
$text-color: $dark-blue;

$plus-icon: '\f055';
$check-box-icon: '\f046';
$money-icon: '\f0d6';
$gift-icon: '\f06b';
$heart-icon: '\f004';
$dollars-icon: '\f155';

$extra-bold: 900;

$sans-font: 'Roboto', sans-serif;
$serif-font: 'Roboto Slab', serif;
$font-family: $sans-font;
