.card {
  background-color: $white;
  color: $dark-grey;
  max-width: 100%;
  height: auto;
  border-radius: 3px;
  margin: 20px;
  min-width: 300px;
  max-width: 400px;
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px solid $light-grey;
}

.card-inner {
  justify-content: space-between;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.card-title {
  font-size: 24px;
  color: $dark-grey;
  font-weight: $bold;

  a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: lighten($dark-grey, 10%);
    }
  }
}

.card-subtitle {
  font-size: 12px;
  color: lighten($dark-grey, 10%);
  padding: 0 0 10px;
}

.card-list {
  p {
    font-size: 14px;
    color: $dark-grey;
  }

  ul {
    @include elr-unstyled-list;
  }

  li {
    font-size: 14px;
    padding: 5px 0;
  }
}

.card-list-label {
  font-size: 110%;
  font-weight: $bold;
  padding-right: 5px;
}

.header-content {
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card-header {
  figure {
    margin-top: 0;
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

  .card-full-image {
    padding-top: 0;
  }

  .card-full-image,
  .card-full-image img {
    border-radius: 3px 3px 0 0;
  }
}

.card-body {
  clear: both;
  flex-grow: 2;
}

.card-body,
.card-footer {
  @include elr-clearfix;

  figure {
    margin: 20px;
    width: auto;

    &.card-full-image {
      margin: 0 0 -6px;
    }
  }
}

.card-footer {
  @include elr-clearfix;
  padding: 20px 0 0;
  border-top: 1px solid darken($white, 10%);

  .card-full-image,
  .card-full-image img {
    border-radius: 0 0 3px 3px;
  }

  .elr-button {
    @include elr-clearfix;
    font-size: 14px;
  }
}

.card-actions {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex: 1;

  .elr-button,
  form {
    width: 50%;
    display: inline-block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 10px;

    &:nth-child(even) {
      margin-right: 0;
      margin-left: 10px;
    }

    &:only-of-type {
      margin-left: 0;
      margin-right: 0;
      max-width: 200px;
    }
  }

  form [type='submit'] {
    width: 100%;
  }
}

.card-content {
  padding: 10px 20px;
}

.card-full-image {
  margin: 0;
  padding: 0;
}

.card-title {
  font-size: 24px;
  font-weight: $extra-bold;
  padding-bottom: 0;
  color: $pink;

  a {
    color: $pink;

    &:hover {
      color: lighten($pink, 10%);
    }
  }
}

.card-subtitle {
  margin-top: 5px;
  margin-bottom: 5px;
  // border-bottom: 1px solid $light-grey;
  padding-bottom: 5px;
}

.card-list-label {
  color: $pink;
}

.card-full-image {
  max-height: 280px;
  overflow: hidden;
}

.card-actions .elr-button:only-of-type {
  margin-left: 0;
  margin-right: 10px;
}

.card-actions form:only-of-type {
  margin-left: 10px;
  margin-right: 0;
}

.card-item-header {
  border-bottom: 1px solid $light-grey;
  padding-bottom: 10px;
}

.item-header {
  display: flex;
}

.card-details {
  @include elr-unstyled-list;
  padding-top: 10px;
  padding-bottom: 10px;

  li {
    font-size: 14px;
    padding: 5px 0;
  }
}

.card-details-title {
  font-size: 18px;
  font-weight: 900;
  color: $pink;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
}

.card-stats,
.card-actions {
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
  margin: 0;
}

.card-stats {
  list-style: none;
}

.card-stat {
  font-size: to-rems(14px);
  padding-right: 10px;
}

.card-stat-label {
  font-weight: 700;
}

.card-action {
  padding-right: 20px;

  p {
    padding: 0;
    margin: 0;
  }

  i {
    font-size: to-rems(18px);
    color: $pink;
    padding-right: 5px;
  }
}

.card-action,
.card-action form button {
  display: flex;
  align-items: baseline;

  &.disabled {
    cursor: auto;
  }
}

.card-stats,
.card-actions {
  border-bottom: 1px solid $light-grey;
  padding: 10px 0;
  font-size: 14px;
  color: $dark-grey;

  &:first-child {
    border-top: 1px solid $light-grey;
  }
}

.card-action {
  padding: 0;
  min-width: 50px;
  text-align: center;
  color: $pink;

  .fa {
    font-size: 24px;
  }

  p {
    padding: 0;
    margin: 0;
  }
}

.card-stat,
.card-action {
  width: (100% / 3);
}

.card-action-label {
  color: $dark-grey;
  font-size: 12px;
  font-weight: 500;
}
