.details-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.item-detail {
  font-size: to-rems(14px);
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 20px;

  p {
    font-size: to-rems(14px);
  }

  a {
    color: $dark-pink;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
      color: lighten($dark-pink, 10%);
    }
  }
}
