// General Styles
@include elr-reset;
@include elr-base;
@include elr-grid(
    $config: (
        max-width: 1200px,
        responsive-container: false
    )
);
@include elr-helper-classes;
@include elr-action-helper-classes;
