// Header styles
.main-search {
  [type='search'] {
    font-size: to-rems(14px);
    border-radius: 20px;
    border: 2px solid $pink;
    color: $pink;
    height: 30px;
    padding: 5px 10px;
    transition: border 0.3s;

    &:focus {
      border: 2px solid $teal;
    }
  }
}

.main-header-inner {
  @include elr-clearfix;
  padding: 20px 0 10px;
  display: flex;
  justify-content: space-between;

  @include elr-breakpoint($config: (point: 1250px)) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include elr-breakpoint($config: (point: 1000px)) {
    flex-direction: column;
    text-align: center;
  }

  > div {
    flex-grow: 1;
    flex-shrink: 1;
  }

  a {
    text-decoration: none;
  }

  .main-nav,
  .main-search {
    padding: 10px 0;
    float: right;

    @include elr-breakpoint($config: (point: 1000px)) {
      float: none;
    }
  }

  .main-menu {
    margin: 0;
    text-align: right;

    @include elr-breakpoint($config: (point: 1000px)) {
      text-align: center;
    }
  }
}

.site-logo {
  font-size: to-rems(24px);

  a {
    color: $text-color;
    text-decoration: none;
  }

  .elr-uppercase {
    font-size: to-rems(30px);
    font-weight: 900;
    color: $pink;
  }
}
