.main-menu {
  padding: 0 10px 0 0;
}

.main-menu-item {
  padding: 0;
  margin: 0 5px;
  display: inline-block;

  a,
  .nav-button {
    display: block;
    font-size: to-rems(14px);
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 5px;
    color: $text-color;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      text-decoration: none;
      background-color: $teal;
      color: $white;
    }
  }

  .active {
    background-color: $pink;
    color: $white;

    &:hover {
      background-color: $teal;
    }
  }
}
